### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon


# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

# Latexmk
*.synctex(busy)

# Temporary files
*.tmp
*.bak